<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.souls.mapper.MarkInfoMapper">
    <select id="getAllMarkInfo" resultType="MarkInfo">
        select * from markinfo
    </select>

    <delete id="deleteScore" parameterType="String">
        delete from markinfo where id = #{id}
    </delete>

    <insert id="addScore" parameterType="MarkInfo">
        insert into markinfo (id,courseID,stuID,baseScore,testScore,finalScore)
        values(#{id},#{courseID},#{stuID},#{baseScore},#{testScore},#{finalScore})
    </insert>
</mapper>